[submodule "RT-Cadmium-Blinky"]
	path = Blinky
	url = https://github.com/SimulationEverywhere/RT-Cadmium-Blinky
[submodule "SeeedBot"]
	path = SeeedBot
	url = https://github.com/SimulationEverywhere/RT-Cadmium-SeeedBot
[submodule "AverageInputs"]
	path = AverageInputs
	url = https://github.com/SimulationEverywhere/RT-Cadmium-AverageInputs
[submodule "MajorityVote"]
	path = MajorityVote
	url = https://github.com/SimulationEverywhere/RT-Cadmium-MajorityVote
[submodule "DISCO-Demo"]
	path = DISCO-Demo
	url = https://github.com/SimulationEverywhere/RT-Cadmium-DISCO-Demo/
